/* adapt browsers compatibility */
template {
  display: none;
}
/* end browsers compatibility */

html {
  font-family: helvetica;
  font-size: 18px;
  padding: 20px 0;
  background: #fff;
  line-height: 1.45em;
}
body {
  margin: 0;
}

input {
  font: inherit;
  border: 1px solid #999;
  padding: .2em .5em;
  border-radius: 5px;
}

header,
main {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 5%;
}

header {
  display: flex;
  margin-bottom: 1em;
  align-items: center;
}
header img {
  max-height: 80px;
}
header h1 {
  margin-left: 2em;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: normal;
  flex: 1;
}
header h1 span {
  font-weight: bold;
}
header a {
  text-decoration: none;
  cursor: pointer;
  color: #f99;
  text-align: right;
  width: 20%;
}

main {
  background: #ddd;
  padding: 2em 5%;
  text-align: center;
}
main h1,
main h2 {
  font-weight: lighter;
}
main h1 {
  font-size: 1.4em;
}
main h2 {
  font-size: 1.3em;
}
a.button {
  text-decoration: none;
}
button,
a.button {
  display: inline-block;
  font-size: 1em;
  padding: 20px 70px;
  background-color: #0275d8;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-weight: normal;
  margin-right: 20px;
  color: #fff;
  cursor: pointer;
}
main a {
  padding-top: 25px;
  text-decoration: none;
}
aside {
  border: 1px solid #999;
  margin: 1em auto;
  padding: .5em .8em;
  width: 75%;
  min-width: 300px;
}

[data-page=amount] button,
[data-page=accueil] button,
[data-page=amount] a.button,
[data-page=accueil] a.button {
  display: inline-block;
  margin: 2em auto;
}
[data-page=accueil] button,
[data-page=accueil] a.button {
  margin: 5em inherit;
}

button.unknown,
a.button.unknown {
  background-color: #ec971f;
}
.satisfaction button,
.satisfaction a.button {
  background-color: #5cb85c;
}

.principes {
  text-align: left;
  font-style: italic;
  font-size: .85em;
  margin: auto 5%;
  border: 1px dotted #666;
  padding: 1% 5%;
}

footer {
  text-align: center;
}

footer p {
  display: inline-block;
}
footer button,
footer a.button {
  display: inline-block;
  padding: 5px 20px;
}
footer button:first-of-type {
  margin-left: 1.5em;
}

@media (max-width: 640px) {
  button,
  a.button {
    width: 90%;
    margin-bottom: .5em;
    padding: 20px;
  }
  main a {
    display: block;
  }
  footer button:first-of-type,
  footer a.button:first-of-type {
    margin-left: 0;
  }
  aside {
    padding: .5em 0;
  }
}
